* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color1: rgb(98, 0, 255);
    --color2: rgb(2, 16, 63);
    --color3: #c5c6c7;
    --color4: rgba(245, 240, 240, 0.719);
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    transition: all 3s;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background: var(--color1);
    border-radius: 10px;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #ffff;
    position: sticky;
    top: 0;
    z-index: 50;
}


.logo {
    width: 100px;
    height: 40px;
    align-content: center;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo a img {
    width: 120px;
}


.nav-links {
    width: 350px;
    height: 40px;
}

.all-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #bb5d2d;
}

.toggle {
    display: none;
}

/* end nav */



/* --- hero section */
.hero-section {
    width: 100%;
    height: 100vh;
    background-color: var(--color2);
    z-index: 0;
}

.hero-cover {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.hero-content {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 24px;
    font-weight: 500;
}

.hero-content p {
    font-size: 28px;
}

.hero-imge {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shap {
    width: 70%;
    height: 70%;
    position: relative;
    z-index: 4;
}

.boy {
    width: 50%;
    height: 50%;
    margin-left: -60%;
    z-index: 10;
    opacity: 0.9;
    filter: drop-shadow(5px 5px 10px #474545);
    animation: size 3s;
}

@keyframes size {
    0% {
        width: 500px;
    }

    100% {
        width: 400px;
    }

}

.wave-div {
    width: 100%;
    height: 30vh;
    z-index: 10;
    margin-top: -20%;
}

/* ---- About section ---- */
#about {
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 4, 14);
    padding-top: 60px;
}

.bout-header {
    width: 100%;
    height: 10vh;
    /* background-color: #760eff; */
}

.hide {
    display: none;
}


.about-btn {
    margin: 0 auto;
    width: 35%;
    height: 10vh;
    float: right;
}

.about-btn button {
    width: 100px;
    height: 7vh;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    margin: 10px 15px;
    background-color: white;
    color: black;
}

.about-cover {
    margin: 0 auto;
    width: 95%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.about-box {
    width: 40%;
    height: 90%;
}

.aboutbox1 {
    position: relative;
    animation: moveright 1s;
}

@keyframes moveright {
    0% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.aboutbox2 {
    position: relative;
    animation: moveright2 1s;
}

@keyframes moveright2 {
    0% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.about-box img {
    width: 100%;
    height: 100%;
    border-radius: 21px;
}


.about-contant {
    display: block;
    margin: 50px auto;
    width: 70%;
    height: 70%;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    z-index: 10;
    background-color: salmon;
}

.about-contant p {
    color: #999595;
    font-size: 16px;
    line-height: 25px;
}

.about-contant button {
    position: relative;
    top: 50px;
    right: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin:0 20px;
}

.about-contant button a{
    text-decoration: none;
    color:#000;
}

.skill {
    width: 40%;
    height: 90%;
    z-index: 20;
    position: relative;
    top: -90%;
    left: 55%;
    display: none;
}

.skill-cover {
    width: 100%;
    height: 100%;
}

.skill-box {
    width: 100%;
    height: 100%;
}


.skill-lg {
    width: 95%;
    height: 16%;
    display: flex;
    align-items: center;
    position: relative;
}

.skill-icon {
    width: 80px;
    height: 50px;
    background-color: #760eff;
    border-radius: 15px;
    color: white;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    font-weight: 600;
}

.skill-icon img {
    width: 30px;
    height: 30px;
}

.point {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    left: 60px;
    top: -1;
    z-index: 9;
    transform: rotate(45deg);
    background-color: #760eff;
}

.skill-long {
    width: 380px;
    height: 10px;
    border-radius: 0px 20px 20px 0;
    background-color: #760eff;
    position: relative;
    float: right;
    z-index: 5;
}

.inner-long {
    z-index: 0;
    width: 380px;
    height: 10px;
    border-radius: 0 20px 20px 0;
    background-color: var(--color4);
}

.skillshow1 {
    width: 80%;
    animation: skill1 3s;
}

@keyframes skill1 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skillshow2 {
    width: 75%;
    animation: skill2 3s;
}

@keyframes skill2 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skillshow3 {
    width: 60%;
    animation: skill3 3s;
}

@keyframes skill3 {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skillshow4 {
    width: 70%;
    animation: skill4 3s;
}

@keyframes skill4 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skillshow5 {
    width: 70%;
    animation: skill5 3s;
}

@keyframes skill5 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skillshow6 {
    width: 80%;
    animation: skill6 3s;
}

@keyframes skill6 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* end about and skill css */

#project {
    width: 100%;
    height: 100vh;
    background-image: url("images/project.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.project-heading {
    width: 100%;
    height: 20vh;
    text-align: center;
    align-content: center;
}

.project-heading h2 {
    font-size: 38px;
    color: white;
}

.pro-cover {
    width: 90%;
    height: 75vh;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;

}

.pro-box {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 15%;
    backdrop-filter: blur(3px);
    transition: all 2s;
    cursor: pointer;
}

.pro-box:hover {
    backdrop-filter: blur(30px)
}

.pro-img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.pro-img img {
    width: 120px;
    height: 80px;
}

.pro-contant {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
}

.pro-contant p {
    color: #fff;
    ;
    line-height: 20px;
}

.pro-contant button {
    width: 130px;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin: 10% 30%;
    font-weight: 600;
}

.pro-contant a {
    text-decoration: none;
    color: black;
}

/* end project css */

/* footer */
#contact {
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    backdrop-filter: blur(15px);
    margin-top: -20px;

}

.contact-box {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /* backdrop-filter: blur(15px); */
}

/* footer contact */
.footer-content {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color4);
    border-right: 1px solid white;
}

.footerbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.footer-heading h2 {
    text-align: end;
    padding-top: 10px;
    font-size: 26px;
}

.footerbox ul {
    list-style: none;
    margin: 10px;
}

.footerbox ul li {
    padding: 5px 0;
    /* line-height: 25px; */
}

.footerbox ul li:hover {
    color: black;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.bi {
    font-size: 28px;
}

.social-links a:hover {
    color: rgb(0, 0, 0);
}


/* footer fotm */
.contact-form {
    width: 40%;
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#checkboxIn {
    display: none;
}


.contact-form h2 {
    font-size: 28px;
}

.contact-form input {
    width: 350px;
    height: 50px;
    margin: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 15px;
    background-color: #96969660;
    color: white;
    font-size: 18px;
}

.contact-form textarea {
    width: 350px;
    height: 120px;
    border-radius: 20px;
    background-color: #96969660;
    color: white;
    font-size: 18px;
    padding-left: 15px;
}

.contact-form button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #ada9a9;
}

.contact-form button a {
    text-decoration: none;
    color: black;
}

.footer-bottom {
    width: 100%;
    height: 20px;
    color: #000;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}

/* end footer css */
