* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    background:
        radial-gradient(circle at bottom right, #90bdeb 20%, #6fa3e8 30%, transparent 60%),
        linear-gradient(135deg, #020617 0%, #061a44 40%, #0b3c8a 70%);
    /* background: radial-gradient(circle at top, #2d2f6f, #0b0c1d); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0px 70px;
    position: fixed;
    top: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

nav .logo {
    width: 200px;
}

nav .logo a {
    font-size: 1.4rem;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #0066ff;
    font-weight: 800;
}

nav .all-links {
    padding: 0 20px;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#resume {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 20px;

}

#resume a {
    font-size: 1rem;
    font-weight: bold;
    color: #0066ff;
}


.all-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.desk-none {
    display: none;
}

.toggle {
    display: none;
}

/* end nav */

/* --- hero section */
.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-left: 20px;
    color: #000000;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url("images/386291308_db1084e5-e807-44aa-a085-4d79cec7efda.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#freepik_stories-hand-coding {
    position: absolute;
    width: 450px;
    height: 450px;
    top: 15%;
    right: 30px;
    z-index: 2;
}



.mouse {
    position: absolute;
    top: -18%;
    right: -5%;
    z-index: 0;
    transform: rotate(10px);
    width: 700px;
    height: 700px;
    /* border: 3px solid #fcfcfc; */
    background: #347fd4;
    border-radius: 60% 40% 30% 70% / 60% 30% 60% 40%;
}


#hero-cover {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4%;
    z-index: 3;
}

.heading-name:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
    background-image: linear-gradient(45deg, #375fce, #6a39db 50%, #01a188 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-name:nth-child(2) {
    font-size: 1.3rem;
    font-size: 48px;
    background-image: linear-gradient(45deg, #375fce, #4912cd 50%, #01a188 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#skill-ui {
    color: #5652ad;
    font-size: 1.5rem;
    font-weight: 600;
}

.contact-text {
    color: #000000;
    font-size: 1.1rem;
    z-index: 2;
}


.btn {
    width: 25%;
    background: #4f46e5;
    box-shadow: 0 10px 25px rgba(79, 70, 229, 0.3);
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
    margin: 30px 0;
    z-index: 2;
}

.btn a {
    color: #dbdada;
    font-weight: 500;
}

.btn:hover {
    background: #3730a3;
    transform: translateY(1px);
}


.about {
    padding: 60px 80px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    /* background: radial-gradient(circle at top, #2d2f6f, #0b0c1d); */
    color: #fff;
}

.about h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle {
    color: #b6b6ff;
    margin-bottom: 50px;
}

/* Main Layout */
.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* Left Image */
.about-left img {
    width: 320px;
    border-radius: 30px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}

/* Right Content */
.about-right {
    max-width: 550px;
    text-align: left;
}

.about-right h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

.about-right p {
    color: #d0d0ff;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Info Cards */
.info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.info-box div {
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;
    border-radius: 12px;
}

.info-box span {
    font-size: 12px;
    color: #a6a6ff;
}

.info-box p {
    margin-top: 5px;
    font-weight: bold;
}

/* Skills */
.skill-title {
    margin: 70px 0 30px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.skill-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 30px;
    border-radius: 16px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.skill-card img{
    width: 40px;
    height: auto;
}

.skill-card:hover {
    transform: translateY(-8px);
    background: linear-gradient(135deg, #6f6bff, #9a7cff);
}

/* end about and skill css */

#project {
    width: 100%;
    min-height: 120vh;
    /* background-color: #d6d9f5; */
}

.project-heading {
    width: 100%;
    height: 15vh;
    text-align: center;
    align-content: center;
    color: #c0d3f1;
}

.project-heading h2 {
    font-size: 38px;
    color: var(--footerbg);
}

.pro-cover {
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pro-box {
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dddcec54;
    border-radius: 5%;
    cursor: pointer;
    overflow: hidden;
    padding: 15px;
}

.pro-box:hover {
    transition: ease-in-out 0.5s;
    transform: translateY(-8px);
}

.pro-img {
    width: 100%;
    height: 130px;
    overflow: hidden;
    display: flex;
    /* background-color: burlywood; */
    justify-content: center;
}

.pro-img img {
    width: 90%;
    height: auto;
    object-fit: cover;
    /* border-radius: 15px; */
}


.pro-contant {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: left;
}

.pro-contant p {
    color: #f9fcfb;
}

.use-skill {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 10px;
}

.use-skill span {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #5483b9;
    color: #fff;
    font-size: 0.7rem;
}

.pro-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 20px;
}

.pro-btn button {
    height: 30px;
    padding: 5px;
    overflow: hidden;
    border: none;
}

.pro-btn button:nth-child(1) {
    width: 80%;
    background-color: #2a58a1;
    background-image: linear-gradient(to right, #aabad4, #2a58a1);
}

.pro-btn button:nth-child(2) {
    width: 20%;
    background-color: #01060f;
}

.pro-btn button:nth-child(2) a i {
    color: white;
}

.pro-contant a {
    text-decoration: none;
    color: black;
}


/* end project css */

/* footer */
#contact {
    width: 100%;
    min-height: 100vh;
    color: #cfcfcf;
    display: flex;
    flex-direction: column;

}

.contact-box {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: #000; */
    margin: 70px auto;
}

/* footer contact */
.footer-content {
    width: 50%;
    height: 100%;
    color: #fffcfc;
    /* background-color: salmon; */
}

.contact-heading {
    width: 100%;
    height: 50px;
}

.contact-heading h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
}

.footer-cover {
    width: 100%;
    height: auto;
    /* background-color: #0b3c8a; */
    display: flex;
    justify-content: flex-end;
    /* gap: 10px; */
    color: #fffcfc;
}

.footerbox {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}

.footerbox ul {
    list-style: none;
    margin: 10px 0;
}

.footerbox ul li {
    padding: 5px 0;
    color: #e2d8d8;
    cursor: pointer;
}


.bi-list {
    font-size: 28px;
}

.social-links a:hover {
    color: var(--Sec-text-color);
}


/* footer fotm */
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.contact-form input {
    width: 350px;
    height: 50px;
    margin: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 15px;
    box-shadow: 6px 3px 8px #c4c3c3, inset 10px 10px 15px #dbdbdb;
    color: #000;
    font-size: 18px;
}

.contact-form textarea {
    width: 350px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 6px 3px 8px #c4c3c3, inset 10px 10px 15px #dbdbdb;
    color: #000;
    border: none;
    font-size: 18px;
    padding-left: 15px;
}

.hides {
    display: none;
}

.contact-form button {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: #0b3c8a;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    /* font-weight: 400; */
    /* box-shadow: 5px 4px 10px #ffa04d, inset 15px 15px 15px 3px #dd7316; */
}

.contact-form button:hover {
    background: #062961;
}


.footer-bottom {
    width: 100%;
    height: 10%;
    border-top: 1px solid #2c2c2c25;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

/* end footer css */