* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* google font */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

:root {
    --bgcolor: #E5C087;
    --pr-text-color2: #E0E0E0;
    --Sec-text-color: #B0B0B0;
    --border-div-color: #444444;
    --Accent: #888888;
    --footerbg: #ff914d;
    --footer-shadow: 4px 3px 10px #ffa04d, inset 15px 15px 15px 3px #dd7316;

    /* #E5C087 */
    /* #D3D3D3 *

    /* dark them */
    --darkbg: #0f172a;
    --light-pr-text: #f1f5f9;
    --gray-color: #94a3b8;
    --Accent-color: #38bdf8;
    --hover-color: #1e293b;
}

body {
    /* background-image: linear-gradient(125deg, #ffc266 0%, #ffecc9 100%); */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
    transition: all 10s;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    background-image: linear-gradient(150deg, #E5C087, #fff3e0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    filter: blur(0.6px);
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 50;
}


.logo {
    width: 100px;
    height: 40px;
    align-content: center;
}

.logo a {
    text-decoration: none;
}

.logo a img {
    width: 120px;
}


.nav-links {
    width: 350px;
    height: 40px;
}

.all-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #222;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s;
}

.all-links li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #222;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;
}


.all-links li a:hover {
    color: #000;
}

.all-links li a:hover::after {
    width: 100%;
}


.toggle {
    display: none;
}

/* end nav */



/* --- hero section */
.hero-section {
    width: 100%;
    height: 90vh;
    z-index: 0;
}

.hero-cover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1e293b;
    font-size: 24px;
    font-weight: 500;
    font-family: "Chela One", system-ui;
    transform: translateY(400px);
    transition: 3s;
}


.hero-content p {
    font-size: 28px;
}

.btn {
    background: #222;
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
    margin: 30px 0;
}

.btn:hover {
    background: #444;
}

.hero-imge {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-imge img {
    width: 95%;
    height: auto;
    perspective: 2000px;
    transition: all 5s;
    transform: scale(0.5, 0.5);
}

/* ---- About section ---- */
#about {
    width: 100%;
    height: 60%;
}

.bout-header {
    width: 100%;
    height: 30%;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}


.about-cover {
    margin: 0 auto;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.about-box {
    width: 40%;
    height: 100%;
}

.image-about {
    transform: translateX(-100px);
    transition: all 3s ease;
}

.about-box img {
    width: 100%;
    height: auto;
    border-radius: 21px;
}

.aboutbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translateX(100px);
    transition: all 3s ease;
}

.about-contant {
    width: 70%;
    height: 50%;
    color: #1e293b;
}

.about-contant p {
    font-size: 16px;
    line-height: 25px;
    font-family: "Roboto", sans-serif;
}

.about-btn {
    margin: 0 auto;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.about-btn button {
    width: 120px;
    height: 40px;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    margin: 10px 15px;
    background-color: #d45e4b;
    color: black;
    cursor: pointer;
}


.about-btn button a {
    text-decoration: none;
    color: black;
}

/* start skill css */
.skill {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    overflow: hidden;
}

.skill-cover {
    width: 90%;
    height: 90%;
    margin: 50px auto;
    display: flex;
    background-color: #0f172a;
    border-radius: 30px;
    transform: translateY(200px);
    transition: all 3s ease;
}

.skill-heading {
    width: 100%;
    height: 20%;
    padding: 15px 0;
    text-align: center;
    font-size: 22px;
    color: #f1f5f9;
}

.skill-img {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(10px 10px 15px rgba(49, 48, 48, 0.6));
}

.skill-img img {
    max-width: 300px;
    height: auto;
    animation: imagemove 2s infinite;
    transition: 3s;
    animation-direction: alternate;
}

@keyframes imagemove {
    form {
        transform: translateY(0px);
    }

    to {
        transform: translateY(20px);
    }
}


.skill-box {
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.skill-lg {
    width: 90%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-shape {
    display: flex;
    align-items: center;
    position: relative;
}

.skill-icon {
    width: 80px;
    height: 50px;
    background-color: #38bdf8;
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.7);
    color: #f1f5f9;
    border-radius: 15px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    font-size: 18px;
    font-weight: 600;
}

.skill-icon img {
    width: 30px;
    height: 30px;
}

.point {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    left: 75%;
    top: 10px;
    z-index: 9;
    transform: rotate(45deg);
    background-color: #38bdf8;
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.7);
}

.skill-long {
    width: 550px;
    height: 10px;
    border-radius: 0px 20px 20px 0;
    background-color: #dec5ff;
    position: relative;
    float: right;
    z-index: 5;
}

.inner-long {
    z-index: 0;
    width: 0px;
    height: 10px;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(90deg, #38bdf8, #8b5cf6);
    box-shadow: 0 0 10px rgba(139, 92, 246, 0.7);
    animation: loadSkill 1.5s ease-out forwards;
}

.skillshow1 {
    width: 80%;
    animation: skill1 3s;
}

@keyframes skill1 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skillshow2 {
    width: 75%;
    animation: skill2 3s;
}

@keyframes skill2 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skillshow3 {
    width: 60%;
    animation: skill3 3s;
}

@keyframes skill3 {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.skillshow4 {
    width: 70%;
    animation: skill4 3s;
}

@keyframes skill4 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skillshow5 {
    width: 70%;
    animation: skill5 3s;
}

@keyframes skill5 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skillshow6 {
    width: 80%;
    animation: skill6 3s;
}

@keyframes skill6 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/* end about and skill css */

#project {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.project-heading {
    width: 100%;
    height: 20vh;
    text-align: center;
    align-content: center;
}

.project-heading h2 {
    font-size: 38px;
    color: var(--footerbg);
}

.pro-cover {
    width: 90%;
    height: 100%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #ffc779;
    border: 1px solid rgba(56, 189, 248, 0.3);
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.4);
    display: flex;
    flex-wrap: wrap;
    gap: 40px 10px;
    justify-content: space-evenly;
    overflow: hidden;
}

.pro-box {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background: rgb(184, 235, 255);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 15%;
    cursor: pointer;
    transform: translateY(100px);
    opacity: 0;
    transition: all 3s ease;
}

.pro-box:hover {
    background-color: #f3ede5;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all 0.5s;
}

.pro-img {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.pro-img img {
    object-fit: contain;
    width: 50%;
    height: auto;
}

.pro-contant {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* padding: 10px; */
}

.pro-contant p {
    color: #4a9c94;
}

.pro-contant button {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin: 10% 30%;
    font-weight: 600;
    background-color: #cfcfcf;
    box-shadow: 7px 6px 20px #bbbabaa1, inset 13px 15px 15px #fffefe;
}

.pro-contant a {
    text-decoration: none;
    color: black;
}

.show {
    opacity: 1;
    transform: translateY(0px);
}

/* end project css */

/* footer */
#contact {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to top, #f5d7b5, #e6b97d);
}

.contact-box {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
}

/* footer contact */
.footer-content {
    width: 50%;
    height: 100%;
    color: #333;
}

.contact-heading {
    width: 100%;
    height: 50px;
}

.contact-heading h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 26px;
}

.footer-cover {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footerbox {
    width: 250px;
    height: 250px;
    margin-top: 50px;
}

.footerbox ul {
    list-style: none;
    margin: 10px 0;
}

.footerbox ul li {
    padding: 5px 0;
    color: #444;
    cursor: pointer;
}

.footerbox ul li:hover {
    color: orangered;
}

.social-links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    background: #ff914d;
    box-shadow: 4px 3px 10px #ffa04d, inset 15px 15px 15px 3px #dd7316;
    padding: 10px;
    border-radius: 50%;
}

.social-links a:hover {
    transform: scale(1.3);
    color: #000;
    box-shadow: 7px 10px 10px #ffa04d, inset 15px 15px 15px 3px #dd7316;
}

.bi {
    font-size: 28px;
}

.social-links a:hover {
    color: var(--Sec-text-color);
}


/* footer fotm */
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.contact-form input {
    width: 350px;
    height: 50px;
    margin: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 15px;
    box-shadow: 6px 3px 8px #c4c3c3, inset 10px 10px 15px #dbdbdb;
    color: #000;
    font-size: 18px;
}

.contact-form textarea {
    width: 350px;
    height: 120px;
    border-radius: 20px;
    box-shadow: 6px 3px 8px #c4c3c3, inset 10px 10px 15px #dbdbdb;
    color: #000;
    border: none;
    font-size: 18px;
    padding-left: 15px;
}

.hides {
    display: none;
}

.contact-form button {
    width: 150px;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    background: #ff914d;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    /* font-weight: 400; */
    box-shadow: 5px 4px 10px #ffa04d, inset 15px 15px 15px 3px #dd7316;
}

.contact-form button:hover {
    background: #fc8135;
    box-shadow: 6px 8px 10px #f09f58, inset 15px 15px 15px 3px #e67e22;
}


.footer-bottom {
    width: 100%;
    height: 10%;
    border-top: 1px solid #2c2c2c25;
    color: #444;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
}

/* end footer css */
